<div>
    <h1 class="">
        <%= link_to groups_path do %>
            <i class="bi bi-arrow-left"></i>
        <% end %>
    </h1>
    <h1 class=""> Create Group </h1>
</div>

<div>
    <%= render "shared/group_form" %>
</div>