<header class="header container primary-gradient-background">
  <h1 class="position-absolute">
    <%= link_to groups_path do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
  </h1>
  <h1 class="text-center margin-y">Create Group</h1>
</header>

<div>
  <%= render "shared/group_form" %>
</div>
