<% if flash[:notice] %>
    <div class="container text-center">
        <p class="notice"><%= notice %></p>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="container text-center">
        <p class="alert"><%= alert %></p>
    </div>
<% end %>