<header class="">
  <h1 class="dark text-center splash-title"> Pocket Smith </h1>
</header>
<section class="container splash">
  <div class="text-center fixed-bottom">
    <span>
      <%= link_to "LOG IN", new_user_session_path, class: "d-flex justify-content-center w-100 m-auto btn-lg p-4 mt-4 mb-2 btn btn-primary" %>
    </span>

    <span>
      <%= link_to "SIGN UP", new_user_registration_path, class: "d-flex justify-content-center w-100 m-auto btn-lg p-4 mt-4 mb-1 btn btn-light bg-transparent border-0" %>
    </span>
  </div>
</section>
